<ul>
    <li>Polish title: {{ movie.polishTitle }}</li>
    <li>Original title: {{ movie.originalTitle }}</li>
    <li>Year: {{ movie.yearOfProduction }}</li>
    <li>Rating: {{ movie.Rating }}</li>
</ul>
