<ul>
    {% for movie in movies %}
    <li>{{ movie.movie.id }}
        <ul>
            <li>Rate: {{ movie.rate }}</li>
            <li>Favourite: {{ movie.isFavourite ? 'Yes':'No' }}</li>
            <li>Rated at: {{ movie.ratedAt|date("d.m.Y") }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
